.DS_Store
.snakemake/*
resources/GRCh38.fasta
*.bt2
input/*.fastq.gz
resources/grch38.*
resources/standardDB/*

workflow/.snakemake/
logs/
output/

*.nhr
*.nin
*.nsq
*.ndb
*.nog
*.nos
*.not
*.ntf
*.nto
*.njs
*.mmi

conda/
.mamba/

__pycache__/
*.pyc

*~
*.swp

.h5
*.bak
workflow/config/
config/samples.csv
